<div class='container-fluid'>
    <h1>Trade Stock</h1>
    <form [formGroup]="tradeForm" (ngSubmit)="submitForm()" novalidate>
        <div class='row'>
            <div class="form-group col-md">
                <label>Ticker</label>
                <input type="text" formControlName="stockTicker" class="form-control" maxlength="5" required>
            </div>
            <div class='form-group col-md'>
                <label>Action</label>
                <select class="form-control" formControlName='side' required>
                    <option value='BUY'>BUY</option>
                    <option value='SELL'>SELL</option>
                </select>
            </div>
            <div class="form-group col-md">
                <label>Stock Quantity</label>
                <input type="number" formControlName="stockQuantity" class="form-control" required>
            </div>
            <div class='form-group col-md'>
                <label>Order Type</label>
                <select class="form-control" formControlName='orderType' (change)="onOrderTypeSelect($event.target.value)" required>
                    <option value='LimitOrder'>Limit Order</option>
                    <option value='MarketOrder'>Market Order</option>
                </select>
            </div>
            <div class="form-group col-md">
                <label>Requested Price</label>
                <input type="number" formControlName="requestedPrice" class="form-control" required>
            </div>
            <div class='col-md'>
                <button color="$primary" class="btn btn-primary" id='addTradeBtn' type="submit" [disabled]="!tradeForm.valid">Submit</button>
                <div class='col-sm submit-result' *ngIf='addTradeFail'>
                    <p>Error with fields.</p>
                </div>
                <div class='col-sm submit-result' *ngIf='addTradeSuccess'>
                    <p>Submitted trade!</p>
                </div>
                <div class='col-sm submit-result' *ngIf='sellTradeFail'>
                    <p>Error. Ticker and/or quantity is incorrect.</p>
                </div>
            </div>
        </div>
    </form>
</div>