<div class='container-fluid stock-data'>
    <form [formGroup]="stockPickerForm" (ngSubmit)="submitForm()" novalidate>
        <div class='row'>
            <div class="form-group col-4">
                <label>Ticker</label>
                <input type="text" formControlName="stockTicker" class="form-control" maxlength="5" required>
            </div>
            <div class='form-group col-4'>
                <label>Period</label>
                <select formControlName='period' class="form-control" required>
                    <option value='7'>Past 7 Days</option>
                    <option value='15'>Past 15 Days</option>
                    <option value='30'>Past 30 Days</option>
                    <option value='60'>Past 60 Days</option>
                </select>
            </div>
            <div class='col-4'>
                <button class="btn btn-primary" style='margin-top: 25px;' type="submit">Submit</button>
            </div>
        </div>    
    </form>
    <div class="chart-wrapper" *ngIf="showStockDataGraph"> 
        <canvas
            baseChart 
            [data]="lineChartData" 
            [labels]="lineChartLabels" 
            [chartType]="lineChartType"
            [options]="lineChartOptions"
            [colors]='lineChartColors'
            height="600">
        </canvas>
    </div>
</div>