.portfolio{
    margin-top: 1%;
}
s
.portfolio-header{
    margin-left: 1%;
}
.portfolio-table{
    padding-left: 1%;
}

.positive {
    color: rgb(31, 194, 112);
}

.negative {
    color: rgb(255, 44, 44);
}

.zero {
    color: white;
}