<div class='container-fluid portfolio'>
    <div class='row'>
        <div class='col-8'> 
            <h1 class='portfolio-header'>My Portfolio </h1>
        </div>
        <div class='col-4'>
            <h1>Value % Analysis</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-8 portfolio-table'>
            <table mat-table [dataSource]="stocksDataSource" matSort class='table'> 
                <ng-container matColumnDef='ticker'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
                    <td mat-cell *matCellDef="let stock"> {{stock.ticker}} </td>
                </ng-container>
        
                <ng-container matColumnDef='quantity'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Quantity </th>
                    <td mat-cell *matCellDef="let stock"> {{stock.quantity}} </td>
                </ng-container>
        
                <ng-container matColumnDef='avgCost'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Cost </th>
                    <td mat-cell *matCellDef="let stock"> {{stock.avgCost | currency: 'USD' : 'symbol':'1.2-2'}} </td>
                </ng-container>
        
                <ng-container matColumnDef='livePrice'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Live Price </th>
                    <td mat-cell *matCellDef="let stock"> {{priceMap.get(stock.ticker) | currency : 'USD' : 'symbol':'1.2-2'}} </td>
                </ng-container>
        
                <ng-container matColumnDef='valueTotal'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Value Total </th>
                    <td mat-cell *matCellDef="let stock"> {{stock.avgCost * stock.quantity | currency : 'USD' : 'symbol':'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef='profits'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Profits </th>
                    <td mat-cell *matCellDef="let stock" [ngClass]="{ 
                        'zero' : priceMap.get(stock.ticker).toFixed(2) == stock.avgCost.toFixed(2),
                        'positive' : priceMap.get(stock.ticker).toFixed(2) > stock.avgCost.toFixed(2), 
                        'negative' : priceMap.get(stock.ticker).toFixed(2) < stock.avgCost.toFixed(2)
                        }"> 
                    {{(priceMap.get(stock.ticker) * stock.quantity) - (stock.avgCost * stock.quantity) | currency : 'USD' : 'symbol':'1.2-2'}} 
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div> 

        <div class='col-4'>
            <div class="chart-wrapper" *ngIf="donutChartLabels && donutChartData"> 
                <canvas
                    baseChart 
                    [data]="donutChartData" 
                    [labels]="donutChartLabels" 
                    [chartType]="donutChartType"
                    [options]="donutChartOptions"
                    [legend]="donutChartLegend"
                    [colors]='donutChartColors'
                    height="400">
                </canvas>
            </div>
        </div>
    </div>
</div>
                