html, body, app-root, .app-frame {
    overflow: visible;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    color: #e0e0e0;
}


/* .fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
  } */