/* @import "./themes.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.place-left-narrow-margin{
    margin:1%;
}

td.mat-cell{
    padding-top: 10px !important;
}

.form-control{
    background-color: rgb(207, 207, 207);
}

