// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@include mat-core();

// Primary dark theme
$my-custom-primary: mat-palette($mat-teal, 500);
$my-custom-accent: mat-palette($mat-teal, 800);
$my-custom-warn: mat-palette($mat-red, 800);

$custom-theme: mat-dark-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($custom-theme);

// Alternate light theme.
$light-primary: mat-palette($mat-blue-grey);
$light-accent:  mat-palette($mat-amber, A200, A100, A400);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme:   mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `light-theme` will be affected by this alternate dark theme instead of the default theme.
.light-theme {
  @include angular-material-color($light-theme);
}
