<div class='place-left-narrow-margin container'>
    <h1>My Watchlist </h1>
    <div>
        <form [formGroup]="watchlistAddForm" (ngSubmit)="submitForm()" novalidate>
            <div class='row'>
                <div class="form-group col-4">
                    <label>Ticker</label>
                    <input type="text" formControlName="ticker" class="form-control" maxlength="5" required>
                </div>
                <div class='col-4'>
                    <button class="btn btn-primary" style='margin-top: 25px;' type="submit">Submit</button>
                    <div class='col-sm submit-result' *ngIf='submitFormFail'>
                        <p>Ticker already exists.</p>
                    </div>
                </div>
            </div>    
        </form>
    </div>
    <div>
        <table mat-table [dataSource]="watchlistDataSource" matSort class='table'> 
            <ng-container matColumnDef='ticker'>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
                <td mat-cell *matCellDef="let ticker"> {{ticker.ticker}} </td>
            </ng-container>
    
            <ng-container matColumnDef='livePrice'>
                <th mat-header-cell *matHeaderCellDef> Live Price </th>
                <td mat-cell *matCellDef="let ticker"> {{priceMap.get(ticker.ticker) | currency : 'USD' : 'symbol':'1.2-2'}} </td>
            </ng-container>

            <ng-container matColumnDef='action'>
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let ticker">
                    <button class='btn btn-danger btn-sm' (click)="deleteTicker(ticker.ticker)">Delete</button> 
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
                
