<div class='place-left-narrow-margin'>
    <h1>Trade History </h1>
    <table mat-table [dataSource]="tradesDataSource" matSort class='table' matSortActive="dateCreated" matSortDirection="desc"> 
        <ng-container matColumnDef='stockTicker'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
            <td mat-cell *matCellDef="let trade"> {{trade.stockTicker}} </td>
        </ng-container>

        <ng-container matColumnDef='side'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let trade"> {{trade.side}} </td>
        </ng-container>

        <ng-container matColumnDef='stockQuantity'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Quantity </th>
            <td mat-cell *matCellDef="let trade"> {{trade.stockQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef='dateCreated'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
            <td mat-cell *matCellDef="let trade"> {{trade.dateCreated}} </td>
        </ng-container>

        <ng-container matColumnDef='status'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let trade"> {{trade.status}} </td>
        </ng-container>

        <ng-container matColumnDef='totalInvestment'>
            <th mat-header-cell *matHeaderCellDef> Total Investment </th>
            <td mat-cell *matCellDef="let trade"> {{trade.requestedPrice * trade.stockQuantity | currency : 'USD' : 'symbol':'1.2-2'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
                