<div class="container-fluid mat-app-background mat-typography home">
  <div class='container-fluid'>
    <app-add-trade></app-add-trade>
  </div>
  <hr style="border: 1px solid #a3a8ad;" />
  <div class='container-fluid'>
    <mat-tab-group>

      <mat-tab label="My Portfolio">
        <app-portfolio></app-portfolio>
      </mat-tab>

      <mat-tab label="Trade History">
        <ng-template matTabContent>
          <app-trade-history></app-trade-history>
        </ng-template>
      </mat-tab>

      <mat-tab label="Stock Advice">
        <app-advice></app-advice>
      </mat-tab>

      <mat-tab label="Stock Data">
        <app-stock-data></app-stock-data>
      </mat-tab>

      <mat-tab label="My Watchlist">
        <app-watchlist></app-watchlist>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>