<div class='container place-left-narrow-margin'>
    <h1>Get Advice</h1>
    <form [formGroup]="adviceForm" (ngSubmit)="submitForm()" novalidate>
        <div class='row'>
            <div class="form-group col-md">
                <label>Ticker</label>
                <input type="text" formControlName="stockTicker" class="form-control" maxlength="5" required>
            </div>
            <div class='col-md'>
                <button class="btn btn-primary" id='adviceBtn' type="submit">Submit</button>
            </div>
        </div>    
    </form>
    <h2 *ngIf="this.showError">{{advice.ticker}} is an invalid Ticker. Please enter a valid ticker.</h2>
    <h2 *ngIf="showAdvice">According to the bollinger band, you should {{advice.advice}} {{advice.ticker.toUpperCase()}}.</h2>
    <img *ngIf="showAdvice" [src]="this.graph"/>
</div>